// colors
$sage: #87bcbf;
$rust: #d97d54;
$danger: #d95454;
$slate: #6e8ca0;
$fossil: #c8d1d3;
$sand: #b9b0a2;

$onyx: #ffffff;
$snow: #1b1c20;
$ice:#324755;
$drab:#f0f3f4;

$colors: (
    "sage": $sage,
    "rust": $rust,
    "drab": $drab,
    "danger": $danger,
    "onyx": $onyx,
    "slate": $slate,
    "snow": $snow,
    "ice": $ice,
    "fossil": $fossil,
    "sand": $sand
);

