.Settings {
    background-color: $ice;
    min-height: 100vh;
    h2 {
        padding-top: 2rem;
        text-align: center;
        color: $sage;
        font-size: 1.8rem;
    }
    h3 {
        margin-top: 0.4rem;
        text-align: center;
        color: $onyx;
        font-weight: 300;
        font-size: 1rem;
        &:after{
            content: '';
            display: block;
            width: 10%;
            margin: 1rem auto;
            margin-bottom: 2rem;
            border-bottom: 2px solid $snow;
        }
    }
}

.settings__ul {
    width: 90%;
    margin: 0 auto;
    background-color: $snow;
    border-radius: 1.2rem;
}
.settings__li {
    padding: 1.2rem;
    border-bottom: 1px solid $ice;
    p {
        color: $onyx;
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}
.settings__selector-container {
    height: 1.6rem;
    border-radius: 0.8rem;
    width: 3rem;
    background-color: $ice;
    .settings__selector {
        height: 1.3rem;
        width: 1.3rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        border-radius: 50%;
        background-color: $snow;
        box-shadow: 2px 2px 6px $slate;
    }
}

.settings__button {
    border: 1px solid $fossil;
    padding: 0.8rem;
    border-radius: 2rem;
    color: $onyx;
    width: fit-content;
    margin: 4rem auto;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8rem;
}