@mixin tutorialDescription{
    color: $snow;
    position: absolute;
    background-color: $rust;
    padding: 0.4rem 0.6rem;
}
@mixin tutorialHandIcon{
    position: absolute;
    font-size: 2rem;
    color: $snow;
}

.Tutorial {
    height: 100vh;
    background: rgba($color: $onyx, $alpha: 0.5);
    position: absolute;
    top: 0;
}

.tutorial__container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: $onyx, $alpha: 0.5);
    transition: all ease 200ms;
    .tutorial__skip-button {
        text-transform: uppercase;
        color: $rust;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 0.6rem 2rem;
        border-radius: 2rem;
        border: 5px solid $rust;
    }
    .tutorial__toggle {
        @include tutorialHandIcon();
        top: 10rem;
        right: 1.6rem;
    }
    .tutorial__descriptionToggle {
        @include tutorialDescription();
        top: 12rem;
        right: 1rem;
    }
    .tutorial__swipe {
        @include tutorialHandIcon();
        transition: ease-in 300ms;
        top: 14rem;
        right: 2rem;
    }
    .tutorial__descriptionSwipe {
        @include tutorialDescription();
        top: 16rem;
        right: 1.6rem;
    }
}